<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Formulario de Inscripción Jornada</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formularioSolicitudPersonas">
            <div>
                <tr class="grid">
                    <td class="input-box">
                        <label>Email</label>
                        <input type="email" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="email">
                    </td>
                    <td class="input-box">
                        <label>Documento de Identidad</label>
                        <input type="number" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="documentoDeIdentidad">
                    </td>
                    <td class="input-box">
                        <label>Nombres</label>
                        <input type="email" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="nombres">
                    </td>
                    <td class="input-box">
                        <label>Apellidos</label>
                        <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="apellidos">
                    </td>
                    <td class="input-box">
                        <label>Número Telefónico-Celular</label>
                        <input type="number" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="numeroTelefonico">
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Ubicación</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Ubicacion"
                                formControlName="ubicacion" (change)="changeUbicacion()">
                                <option>Escoge una Opción</option>
                                <option *ngFor="let ubicacion of listUbicacion"  [value]="ubicacion.id">{{ubicacion.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <label>En que país vive?</label>
                        <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="paisResidencia">
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Departamento de Residencia</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Departamento"
                                formControlName="departamentoResidencia" (change)="changePlace()">
                                <option>Selecciona Departamento</option>
                                <option *ngFor="let departamento of listDepartamentos" [value]="departamento.id">
                                    {{departamento.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Ciudad de Residencia</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Ciudad"
                                formControlName="ciudadResidencia">
                                <option>Selecciona Ciudad</option>
                                <option *ngFor="let ciudad of listCiudades" [value]="ciudad.id">{{ciudad.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Sexo</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Sexo"
                                formControlName="sexo">
                                <option>Selecciona Sexo</option>
                                <option *ngFor="let sexo of listSexo" [value]="sexo.id">{{sexo.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Rango de Edad</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Edad"
                                formControlName="rangoEdad">
                                <option>Selecciona Edad</option>
                                <option *ngFor="let edad of listEdad" [value]="edad.id">{{edad.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Nivel Educativo</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Nivel"
                                formControlName="nivelEducativo">
                                <option>Selecciona Nivel</option>
                                <option *ngFor="let nivelEducativo of listNivelEducativo" [value]="nivelEducativo.id">{{nivelEducativo.nombre}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Ocupación Actual</label>
                            <select id="selector-normal" class="form-control selectpicker" title="Ocupacion"
                                formControlName="ocupacionActual">
                                <option>Selecciona Ocupación</option>
                                <option *ngFor="let ocupacionActual of listOcupacionActual" [value]="ocupacionActual.id">{{ocupacionActual.nombre}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">¿Pertenece a cualquiera de las siguientes
                                organizaciones?</label>
                            <select id="Organización" class="form-control selectpicker" title="Organización"
                                formControlName="organizacionPerteneciente">
                                <option>Selecciona Organización</option>
                                <option *ngFor="let organizacion of listOrganizacion" [value]="organizacion.id">{{organizacion.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <label>Nombre de la Empresa/Organización</label>
                        <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="nombreEmpresa">
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">De acuerdo con su cultura, pueblo o rasgos físicos, usted es o
                                se
                                reconoce como:</label>
                            <select id="Organización_2" class="form-control selectpicker" title="Organización_2"
                                formControlName="grupoEtnico">
                                <option>Selecciona Organización</option>
                                <option *ngFor="let etnia of listEtnia" [value]="etnia.id">{{etnia.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Tiene alguna de estas situaciones de discapacidad</label>
                            <select id="discapacidad" class="form-control selectpicker" title="discapacidad"
                                formControlName="situacionDiscapacidad">
                                <option>Selecciona su Respuesta</option>
                                <option *ngFor="let discapacidad of listDiscapacidad" [value]="discapacidad.id">{{discapacidad.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">¿Usted se considera campesino/a?</label>
                            <select id="campesino" class="form-control selectpicker" title="discapacidad"
                                formControlName="isCampesino">
                                <option>Selecciona su Respuesta</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">Pertenece a la Comunidad LGTBIQ+</label>
                            <select id="comunidad" class="form-control selectpicker" title="discapacidad"
                                formControlName="comunidadLgtbiq">
                                <option>Selecciona su Respuesta</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">¿Por cuál medio se enteró de la jornada/curso?</label>
                            <select id="jornada" class="form-control selectpicker" title="discapacidad"
                                formControlName="medioComunicacion">
                                <option>Selecciona su Respuesta</option>
                                <option *ngFor="let medio of listMedios" [value]="medio.id">{{medio.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">¿Qué lo motivó buscar este curso/jornada?</label>
                            <select id="motivo" class="form-control selectpicker" title="discapacidad"
                                formControlName="motivoAprendizaje">
                                <option>Selecciona su Respuesta</option>
                                <option *ngFor="let motivoCurso of listMotivoCurso" [value]="motivoCurso.id">{{motivoCurso.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">¿Cuál de estas afirmaciones se ajusta más a su estilo de
                                aprendizaje?</label>
                            <select id="estilo" class="form-control selectpicker" title="discapacidad"
                                formControlName="estiloAprendizaje">
                                <option>Selecciona su Respuesta</option>
                                <option *ngFor="let estiloAprendizaje of listEstiloAprendizaje" [value]="estiloAprendizaje.id">
                                    {{estiloAprendizaje.nombre}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <div class="form-group select-govco">
                            <label for="selector-normal">¿Ha tenido información previa sobre el contenido de la
                                jornada/curso?</label>
                            <select id="contenido" class="form-control selectpicker" title="discapacidad"
                                formControlName="informacionPrevioContenido">
                                <option>Selecciona su Respuesta</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </td>
                    <td class="input-box">
                        <label>Sí la respuesta anterior es Si, ¿Dónde?
                        </label>
                        <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="lugarInformacionPrevioContenido" >
                    </td>

                    <!-- <td class="input-box">
                        <label>Comentarios/sugerencias</label>
                        <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                            formControlName="comentarios">
                    </td> -->
                </tr>


                <div class="textarea-govco">
                    <label>Comentarios</label>
                    <textarea class="form-control" placeholder="Escribe aquí tu opinión" id="textarea-example"
                        formControlName="comentarios"></textarea>
                </div>


            </div>
            <div class="datos-1">
                <h6>Autorización para el tratamiento de datos personales</h6>

                <p>que he sido informado que la Superintendencia de Industria y Comercio -SIC es el responsable del
                    tratamiento de los datos personales obtenidos a través del diligenciamiento del presente formulario
                    y
                    que he
                    leído la Política de Tratamiento de Datos Personales disponibles en el sitio web
                    https://www.sic.gov.co/politicas.</p>

                <p> ello, consiento y autorizo de manera previa, expresa e inequívoca que mis datos personales y/o los
                    de
                    mis representados, sean tratados con sujeción a lo establecido en su Política de Tratamiento de
                    Datos
                    Personales, atendiendo a las finalidades en ellas señaladas, y especialmente para: 1. inscribirse a
                    eventos,
                    jornadas y/o cursos académicos, 2 ser informado de nuevas jornadas, eventos y/o espacios de
                    formación
                    que
                    adelanta la SIC, 3. la divulgación de la oferta académica y de los servicios de la entidad 4. la
                    realización
                    de encuestas de satisfacción; 5. expedir el respectivo certificado de la jornada académica 6. el
                    registro de
                    imágenes o cualquier otro registro que sirvan de soporte y evidencia de los eventos/concursos
                    realizados
                    por
                    la entidad; 7 adelantar los controles de asistencia; 8 la realización de encuestas de satisfacción
                    sobre
                    la
                    calidad de los servicios prestados por y dentro de la Entidad y la percepción que se tiene sobre los
                    procesos técnicos y administrativos que se adelantan en la SIC.</p>

                <label class="checklist-govco radiobutton-govco">
                    <input type="radio" name="autorizacion" checked="checked" />
                    <span>Si</span>
                    <div class="radiobutton-govco__indicator"></div>
                </label>
                <label class="checklist-govco radiobutton-govco">
                    <input type="radio" name="autorizacion" checked="checked" />
                    <span>No</span>
                    <div class="radiobutton-govco__indicator"></div>
                </label>
            </div>
            <div class="datos-1">
                <h6>Datos Sensibles</h6>

                <p>Adicionalmente, declaro de manera libre, expresa, inequívoca e informada, que autorizo a la SIC para
                    que,
                    en los términos del literal a) del artículo 6 de la Ley 1581 de 2012, realice la recolección,
                    almacenamiento, uso, circulación, supresión de mis datos personales sensibles, como lo son mis datos
                    relacionados a mi estado general de salud, filiación con grupos étnicos y LGBTI, para que dicho
                    tratamiento se realice con el objetivo de lograr las finalidades identificadas por la Entidad en
                    torno
                    a:</p>

                <p>A. El mejoramiento de la calidad en la prestación de nuestros servicios;</p>

                <p>B. El diseño de estrategias que favorezcan la inclusión y equidad de poblaciones o grupos de especial
                    protección;</p>

                <p>C. Cumplir con su objeto social de conformidad con la ley adelantando los distintos procesos internos
                    tales como: oferta y evaluación de servicios, la optimización de recursos dirigidos a favorecer
                    procesos
                    que protejan intereses colectivos de poblaciones y grupos vulnerables;</p>

                <p>D. La construcción e implementación de nuestra Política de Participación ciudadana;</p>

                <p>Se me ha informado que, como titular de datos personales sensibles, no estoy obligado a otorgar
                    autorización sobre esta clase de datos.</p>

                <p>Todos los datos sensibles que se recolecten y almacenen son tratados y analizados de forma
                    estadística.
                    Los datos pasan por un proceso de disociación, de modo que la información no puede asociarse a
                    personas
                    determinadas. En otras palabras, la entidad utiliza criterios amplios para clasificar a los sujetos
                    dentro de grupos de personas en vez de considerarlos como individuos específicos.</p>

                <p>Igualmente, como Titular de esta información tengo derecho a conocer, actualizar y rectificar mis
                    datos
                    personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el
                    uso
                    que se ha dado a los mismos, presentar quejas ante la SIC por infracción a la ley, revocar la
                    autorización y/o solicitar la supresión de mis datos en los casos en que sea procedente y acceder en
                    forma gratuita a los mismos mediante solicitud por escrito dirigida a la Superintendencia al correo
                    electrónico: contactenos@sic.gov.co.</p>

                <label class="checklist-govco radiobutton-govco">
                    <input type="radio" name="datos" checked="checked" />
                    <span>Si</span>
                    <div class="radiobutton-govco__indicator"></div>
                </label>
                <label class="checklist-govco radiobutton-govco">
                    <input type="radio" name="datos" checked="checked" />
                    <span>No</span>
                    <div class="radiobutton-govco__indicator"></div>
                </label>
            </div>
            <!-- Botones-->
            <div class="row pl-3">
                <tr>
                    <td>
                        <div class="p-2">
                            <button type="button" class="btn-round btn-high-mix-govco area-servicio-item">
                                <span class="btn-mix-govco__icon govco-icon govco-icon-left-arrow-cn text-white"></span>
                                <span class="btn-mix-govco__title--left text-white">Atras</span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="p-2">
                            <button type="button" class="btn-round btn-high-mix-govco area-servicio-item"
                            (click)="enviar()">
                                <span
                                    class="btn-mix-govco__icon govco-icon govco-icon-right-arrow-cn text-white"></span>
                                <span class="btn-mix-govco__title--right text-white">Enviar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </div>
        </form>
    </mat-card-content>
</mat-card>
