<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Solicitud Jornadas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>Datos de la Organización</h4>
    <form class="custom-form" [formGroup]="EmpresaForm">
      <div class="grid">
        <td class="input-box">
          <div class="form-group">
            <label>Nombre de la Organización / Empresa Solicitante</label>
            <input type="text" class="form-control input-govco" placeholder="Escriba su respuesta"
              formControlName="empresa" >
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label class="nit">Nit</label>
            <input type="number" class="form-control input-govco" placeholder="Escriba su respuesta" formControlName="nitEmpresa">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>A cuál de las siguientes categorías pertenece</label>
            <select id="select-normal" class="form-control selectpicker" title="Categorias"
              formControlName="idCategoria">
              <input type="text" class="form-control input-govco" placeholder="">
              <option *ngFor=" let categ of listCategorias" [value]="categ.id">{{categ.nombre}}</option>
            </select>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Departamento de la organización</label>
            <select id="selector-normal" class="form-control selectpicker" title="Departamento" (change)="changePlace()"
              formControlName="idDepartamento">
              <input type="text" class="form-control input-govco" placeholder="">
              <option *ngFor="let dept of listDepartamentos" [value]="dept.id">{{ dept.nombre }}</option>
            </select>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Ciudad o municipio de la organización:</label>
            <select id="selector-normal" class="form-control selectpicker" title="Ciudad" formControlName="idCiudad">
              <input type="text" class="form-control input-govco" placeholder="">
              <option *ngFor="let ciudad of listCiudades" [value]="ciudad.id">{{ ciudad.nombre }}</option>
            </select>
          </div>
        </td>
      </div>

      <!-- <div class="form-p">
        <label>
          <h4>Datos de la Jornada</h4>
        </label>
        <p>Las jornadas se realizarán de lunes a jueves en dos horarios: 9:00am a 11:00am y 3:00pm a 5:00pm. De igual
          forma,
          el grupo de formación de la
          Superintendencia de lndustria y Comercio (SIC) se comunicará dándole a conocer 2 fechas disponibles de
          acuerdo a la jornada de interés.</p>
      </div>

      <tr class="grid-fila">
        <td class="input-box">
          <div class="form-group">
            <label>Tema de la Jornada Academica</label>
            <select id="selector-normal" class="form-control selectpicker" title="tema" formControlName="temaJornada" (change)="getTematica()">
              <option *ngFor="let tema of listTema" [value]="tema.id">{{tema.nombre}}</option>
            </select>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Tematicas Disponibles</label>
            <select id="selector-normal" class="form-control selectpicker" title="tematicas" formControlName="tematicas">
              <option *ngFor="let tematicas of listTematicas" [value]="tematicas.id">{{tematicas.nombre}}</option>
            </select>
          </div>
        </td>
      </tr>
      <tr class="grid">
        <td class="input-box">
          <div class="form-group">
            <label>Seleccione el Público Objetivo</label>
            <select id="selector-normal" class="form-control selectpicker" title="publico" formControlName="idPublico">
              <input type="text" class="form-control input-govco" placeholder="">
              <option *ngFor="let publico of listPublico" [value]="publico.id">{{publico.nombre}}</option>
            </select>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Especifique el Perfil de los Participantes</label>
            <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta" formControlName="perfil">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Número de participantes para los que solicita la jornada</label>
            <select id="selector-normal" class="form-control selectpicker" title="publico" formControlName="numeroParticipantes">
              <option *ngFor="let nparticipantes of listnuparticipantes" [value]="nparticipantes.id">{{nparticipantes.nombre}}</option>
            </select>
          </div>
        </td>
      </tr> -->
      <div class="form-p">
        <label>
          <h4>Datos de la Persona de Contacto</h4>
        </label>
        <p>La persona de contacto deberá asistir a la jornada y posteriormente diligenciar la encuesta de satisfacción
          evaluación de la gestión de formación.</p>
      </div>
      <tr class="grid">
        <td class="input-box">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta" formControlName="representante">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Cargo</label>
            <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta" formControlName="cargo">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control input-govco" placeholder="email" formControlName="email">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Teléfono</label>
            <input type="tel" class="form-control input-govco" placeholder=""formControlName="telefono">
          </div>
        </td>
      </tr>

      <div class="datos-personales">
        <label>
          <h6>Politica de Protección Datos Personales</h6>
        </label>
        <p>Mediante eI registro de sus datos personales en el presente formulario usted autoriza a la Superintendencia
          de Industria y Comercio (SIC) para la
          recolección, almacenamiento y uso de los mismos con la finalidad de tramitar su solicitud, así como para
          informarle sobre otros eventos y/o jornadas
          organizados por esta Entidad, relacionados con nuestras funciones, sobre los servicios que prestamos, las
          publicaciones que elaboramos y para solicitarle
          que evalúe la calidad de nuestros servicios. Como Titular de información tiene derecho a conocer, actualizar
          y rectificar sus datos personales, solicitar
          prueba de la autorización otorgada para su tratamiento, ser informado sobre el uso que se ha dado a los
          mismos, presentar quejas ante Ia SIC por
          infracción a la Iey, revocar Ia autorización y/o solicitar la supresión de sus datos en los casos en que sea
          procedente y acceder en forma gratuita a los
          mismos. La Superintendencia de Industria y Comercio se encuentra ubicada en la Carrera 13 No. 27—00 Pisos 3,
          4, S, 6, 7, y 10 en la ciudad de Bogota, D.C.
          Conmutador: (57 1) 587 00 00 Fax: (57 1) 587 02 84 Contact Center: (571) 592 O4 00.</p>

        <label class="checklist-govco radiobutton-govco">
          <input type="radio" name="autorizacion" value="1"/>
          <span>Acepto</span>
          <div class="radiobutton-govco__indicator"></div>
        </label>
        <label class="checklist-govco radiobutton-govco">
          <input type="radio" name="autorizacion" checked="checked" value="0"/>
          <span>No Acepto</span>
          <div class="radiobutton-govco__indicator"></div>
        </label>
      </div>

      <div class="datos-personales">
        <label>
          <h6>Términos y condiciones para la solicitud de eventos y/o jornadas de Formación</h6>
        </label>
        <p>A continuación encontrará las politicas establecidas para atender la solicitud de las jornadas de
          sensibilización y socialización de los temas misionales de la
          SIC:
        <p>1— El solicitante deberá garantizar una asistencia minima de 25 personas para coordinar Ia realización de la
          actividad académica por parte de la SIC.</p>
        <p>2— En caso de no cumplir con el número minimo de participantes, la jornada no se llevara a cabo y tendrá que
          volver a hacer el proceso de solicitud
          nuevamente.</p>
        <p>3. El solicitante de la jornada será la persona de contacto por parte de la organización y deberá participar
          activamente durante todo el proceso
          (diligenciamiento de la solicitud, acompañamiento a la jornada y diligenciamiento de la encuesta de
          satisfacción).</p>

        <div class="checkbox-govco">
          <input type="checkbox" id="check1" formControlName="terminos" />
          <label class="label-checkbox m-auto" for="check1">
            Acépto terminos y condiciones<div class="chk"></div>
          </label>
        </div>
      </div>

      <form class="custom-form" [formGroup]="EmpresaForm">
        <div class="form-p">
            <label>
                <h4>Planeador de Jornadas / Docentes</h4>
            </label>
            <!-- <p>Las jornadas se realizarán de lunes a jueves en dos horarios: 9:00am a 11:00am y 3:00pm a 5:00pm. De
                igual
                forma,
                el grupo de formación de la
                Superintendencia de lndustria y Comercio (SIC) se comunicará dándole a conocer 2 fechas disponibles
                de
                acuerdo a la jornada de interés.</p> -->

            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Tema de la Jornada Académica *</label>
                <select type="text" class="form-control selectpicker" id="selector-normal" title="tema"
                    formControlName="temaJornada" (change)="getTematica()">
                    <option *ngFor=" let tema of listTema" [value]="tema.id">{{tema.nombre}}</option>
                </select>
            </div>

            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Temáticas Disponibles *</label>
                <select type="text" class="form-control selectpicker" id="select-normal" title="tematicas"
                    formControlName="tematicas">
                    <option *ngFor="let tematicas of listTematicas" [value]="tematicas.id">{{tematicas.nombre}}</option>
                </select>

            </div>
            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Seleccione el Público Objetivo *</label>
                <select id="selector-normal" class="form-control selectpicker" title="publico"
                    formControlName="idPublico">
                    <input type="text" class="form-control input-govco" placeholder="">
                    <option *ngFor="let publico of listPublico" [value]="publico.id">{{publico.nombre}}</option>
                </select>
            </div> 
            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Especifique el Perfil de los Participantes *</label>
                <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                    formControlName="perfil">
            </div>
            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Número de participantes para los que solicita la jornada *</label>
                <select id="selector-normal" class="form-control selectpicker" title="publico"
                    formControlName="numeroParticipantes">
                    <option *ngFor="let nparticipantes of listnuparticipantes" [value]="nparticipantes.id">
                        {{nparticipantes.nombre}}</option>
                </select>
            </div>

            <!-- <button (click)="agendar()" class="btn btn-round btn-high">Agendar</button>
 -->

        </div>
    </form>
      <div class="grid">
        <div class="calenda">
            <p-fullCalendar [events]="events" [options]="options" deepChangeDetection="true" ></p-fullCalendar>
            <p class="infecha">Seleccione Fecha Disponible*</p>
        </div>
        
    </div>





      <div class="p-2">
        <!-- <button type="button" class="btn-round btn-high-mix-govco area-servicio-item">
          <span class="btn-mix-govco__icon govco-icon govco-icon-right-arrow-cn text-white"></span>
          <span class="btn-mix-govco__title--right text-white">Enviar</span>
        </button> -->

        <!-- <button (click)="agendar()"  class="btn-round btn-high-mix-govco area-servicio-item">
          guardar y continuar
        </button> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- <button (click)="agendar()" class="btn-round btn-high-mix-govco area-servicio-item">Agendar</button>
     -->

      </div>


      <!-- <td class="input-box">
          <div class="form-group">
            <label>Tipo de Identificación</label>
            <input type="text" class="form-control input-govco" placeholder="tipo de identificacion"
              formControlName="idTypeIdentification">
              <option *ngFor="let type of listTypesId" [value]="type.id">
                {{ type.codigo }}</option>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label> Número de Identificación</label>
            <input type="number" class="form-control input-govco" placeholder="Digite número" formControlName="identificacion">

          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Nombre de la Empresa</label>
            <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta" formControlName="nombre">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Categoria</label>
            <input type="text" class="form-control input-govco" placeholder="" formControlName="idCategoria">
            <option *ngFor="let category of listCategorias" [value]="category.id">
              {{ category.nombre }}
            </option>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Persona en Representación</label>
            <input type="text" class="form-control input-govco" placeholder=""formControlName="representante">
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Departamento</label>
            <input type="text" class="form-control input-govco" placeholder="" (change)="changePlace()" formControlName="idDepartamento">
            <option *ngFor="let dept of listDepartamentos" [value]="dept.id">
              {{ dept.nombre }}
            </option>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Ciudad</label>
            <input type="text" class="form-control input-govco" placeholder="" formControlName="idCiudad">
            <option *ngFor="let ciudad of listCiudades" [value]="ciudad.id">
              {{ ciudad.nombre }}
            </option>
          </div>
        </td>
        <td class="input-box">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control input-govco" placeholder="Escriba su Respuesta" formControlName="email">
          </div>
        </td> -->


      <!-- <div class="p-2">
        <a class="btn-round btn-high" (click)="consultar()">Agendar</a>
      </div> -->



      <!-- <div class="grid">
        <div class="form-group col-sm">
          <label>Tipo de Identificacion</label>
          <select name="select" formControlName="idTypeIdentification">
            <option value="" selected>Seleccione el tipo de documento</option>
            <option *ngFor="let type of listTypesId" [value]="type.id">
              {{ type.codigo }}
            </option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="email">Numero de Identificacion</label>
          <input class="form-control" formControlName="identificacion" />
        </div>
        <div class="form-group col-sm">
          <label for="email">Nombre de la empresa</label>
          <input class="form-control" formControlName="nombre" />
        </div>
      </div>
      <div class="grid">
        <div class="form-group col-sm">
          <label for="email">Categoria</label>
          <select name="select" formControlName="idCategoria">
            <option label="Seleccione la Categoria" selected value="">Seleccione la categoria</option>
            <option *ngFor="let category of listCategorias" [value]="category.id">
              {{ category.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="email">Persona en Representacion</label>
          <input class="form-control" formControlName="representante" />
        </div>
        <div class="form-group col-sm">
          <label for="email">Departamento</label>
          <select name="select" (change)="changePlace()" formControlName="idDepartamento">
            <option label="Seleccione el Departamento"></option>
            <option *ngFor="let dept of listDepartamentos" [value]="dept.id">
              {{ dept.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="grid">
        <div class="form-group col-sm">
          <label for="email">Ciudad</label>
          <select name="select" formControlName="idCiudad">
            <option label="Seleccione la Ciudad"></option>
            <option *ngFor="let ciudad of listCiudades" [value]="ciudad.id">
              {{ ciudad.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="email">Email</label>
          <input class="form-control" formControlName="email" />
        </div>
      </div> -->

      <!-- <div class="divisor"></div> -->

      <!-- <h1>Jornada a solicitar</h1>
      <div *ngIf="jornada">
        <div class="grid">
          <div class="form-group col-sm">
            <label><strong>Nombre Jornada: </strong><br />{{jornada.nombre}}</label>
          </div>
          <div class="form-group col-sm">
            <label><strong>Codigo Jornada: </strong><br />{{jornada.codigo}}</label>
          </div>
          <div class="form-group col-sm">
            <label><strong>Lugar de realizacion: </strong><br />{{jornada.lugar}}</label>
          </div>
        </div>
        <div class="grid">
          <div class="form-group col-sm">
            <label><strong>Modalidad: </strong><br />{{jornada.tipo}}</label>
          </div>
          <div class="form-group col-sm">
            <label><strong>Tema: </strong><br />{{jornada.tema}}</label>
          </div>
          <div class="form-group col-sm">
            <label><strong>Subtema: </strong><br />{{jornada.subtema}}</label>
          </div>
        </div>

        <div class="grid">
          <div class="form-group col-sm">
            <label><strong>fecha: </strong><br />{{jornada.fecha}}</label>
          </div>
          <div class="form-group col-sm">
            <label><strong>Hora Inicio: </strong><br />{{jornada.hora_inicio}}</label>
          </div>
          <div class="form-group col-sm">
            <label><strong>Hora Final: </strong><br />{{jornada.hora_fin}}</label>
          </div>
        </div>
      </div>

      <div class="divisor"></div>
      <h1>Seleccionar fecha</h1> -->

      <!-- <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" [(ngModel)]="selectedDate">
      </dl-date-time-picker> -->

      <!-- <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Seleccionar fecha y hora" [(ngModel)]="myDatePicker" formControlName="fecha" >
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
      </mat-form-field> -->

      <!-- <div class="grid">
        <div class="form-group col-sm">
          <label for="email">Tipo de Jornada a Solicitar</label>
          <select name="select">
            <option value="value1" selected>Virtual</option>
            <option value="value2">Presencial</option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="email">Tema</label>
          <select name="select">
            <option value="value1" selected>Tema superintendencia 1</option>
            <option value="value2">Tema superintendencia 2</option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="email">Tematica</label>
          <select name="select">
            <option value="value1" selected>Tematica superintendencia 1</option>
            <option value="value2">Tematica superintendencia 2</option>
          </select>
        </div>

        <div class="form-group col-sm">
          <label for="email">Seleccionar fecha</label>
          <input class="form-control" type="date" />
        </div>
      </div> -->


      <!-- <div>
        <button (click)="consultar()">
          Agendar
        </button>
      </div> -->
    </form>
  </mat-card-content>
</mat-card>