<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Empresas</h4>
        <h5 class="card-subtitle text-muted" >Empresas registradas en el sistema de Agendamiento SIC</h5>
        <button class="btn btn-primary bto" (click)="crear()"> Crear Empresa</button>
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
            <thead>
              <tr class="nave">
                <th class="text-dark font-medium fs-4">Nombre/Descripción</th>
                <th class="text-dark font-medium fs-4">Identificación</th>
                <th class="text-dark font-medium fs-4">Representante</th>
                <th class="text-dark font-medium fs-4">Estado</th>
                <th class="text-dark font-medium fs-4">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let ts of listEmpresas'>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="assets/images/users/empresa.jpg" alt="user" width="35" class="rounded-circle">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">{{ts.nombre}}</h5>
                      <span class="text-muted">{{ts.descripcion}}</span>
                    </div>
                  </div>
                </td>
                <td class="fs-4">{{ts.identificacion}}</td>
                <td>
                  <h5 class="mb-0 fw-normal">{{ts.representante}}</h5>
                </td>
                <td>
                  <span class="p-2 bg-{{'success'}} suc d-inline-block ms-3"></span>
                </td>
                <td>
                  <!-- <h5 class="mb-0 fw-normal">{{ts.budget}}</h5> -->
                  <button class="btn btn-outline-success" aria-label="ver" (click)="ver(ts)">
                    <i class="bi bi-eye"></i>
                  </button>
                  <button class="btn btn-outline-primary" aria-label="Editar" (click)="editar(ts)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn btn-outline-danger" aria-label="Eliminar" (click)="eliminar(ts)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
