.far{
    cursor: pointer;
}
.fa-solid{
    cursor: pointer;
}

.green-icon{
    color:green
}

.red-icon{
    color:darkred
}
.titulo{
    font-family: 'Rubik Distressed', cursive;
    text-align: center;}

    
   