<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Formulario Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form-group"[formGroup]="UsuariosFrom">
        <div class="grid">
          <div class="form-group gov-co-form-group gov-co-valido">
              <label for="">Name</label>
              <input type="text" class="form-control gov-co-form-control" formControlName="nombre" />
          </div>
          <div class="form-group gov-co-form-group gov-co-valido">
            <label for="">Email</label>
            <input type="text" class="form-control gov-co-form-control" formControlName="email" />
          </div>
          <!-- <div class="form-group col-sm">
            <label for="email">Numero de Identificacion</label>
            <input class="form-control" formControlName="identificacion" />
          </div>
          <div class="form-group col-sm">
            <label for="email">Nombre del docente</label>
            <input class="form-control" formControlName="nombre" />
          </div> -->
        </div>
        <div class="grid">
          <div class="gov-co-dropdown">
            <label for="selector-simple">Rol</label>
            
            <select id="selector-simple" class="selectpicker form-control" title="categoria"
              formControlName="idCategoria">
              <option value="" selected>Admin</option>
              
            </select>
          </div>

          <div class="form-group gov-co-form-group gov-co-valido">
            <label for="">Password</label>
            <input type="password" class="form-control gov-co-form-control"  formControlName="pass"/>
          </div>
    <!--       <div class="form-group gov-co-form-group gov-co-valido">
            <label for="">Teléfono</label>
            <input type="text" class="form-control gov-co-form-control" formControlName="telefono" />
          </div>
  -->
          <!-- <div class="form-group col-sm">
            <label for="email">Email</label>
            <input class="form-control" formControlName="email" />
          </div>
  
          <div class="form-group col-sm">
            <label>Telefono</label>
            <input class="form-control" formControlName="telefono" />
          </div> -->
  
        </div>
  
        <div>
  
          <button class="btn btn-round btn-high" (click)="guardar()">Guardar</button>
          <!-- <button (click)="guardar()">
            Guardar
          </button> -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  