<mat-card class="example-card">
  <div class="prueba">
    <mat-card-header>
      <mat-card-title>Formulario de Empresa</mat-card-title>
    </mat-card-header>
  </div>
  <mat-card-content>
    <form class="form-group" [formGroup]="EmpresaForm">
      <div class="grid">
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown">
            <label for="selector-simple">Tipo de Identificación</label>
            <select id="selector-simple" class="selectpicker form-control" title="tipo de identificacion"
              formControlName="idTypeIdentification">
              <option value="" selected>Seleccione el tipo de documento</option>
              <option *ngFor="let type of listTypesId" [value]="type.id">
                {{ type.codigo }}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Tipo de Identificación</label>
          <select name="select"  formControlName="idTypeIdentification">
            <option value="" selected>Seleccione el tipo de documento</option>
            <option *ngFor="let type of listTypesId" [value]="type.id">
              {{ type.codigo }}
            </option>
          </select>
        </div> -->
        <div class="form-group col-sm">
          <label for="email">Número de Identificación</label>
          <input class="form-control" formControlName="identificacion" />
        </div>
        <div class="form-group col-sm">
          <label for="email">Nombre de la empresa</label>
          <input class="form-control" formControlName="nombre" />
        </div>
      </div>
      <div class="grid">
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown">
            <label for="selector-simple">Categoría</label>
            <select id="selector-simple" class="selectpicker form-control" title="categoria"
              formControlName="idCategoria">
              <option value="" selected>Seleccione la categoría</option>
              <option *ngFor="let category of listCategorias" [value]="category.id">
                {{ category.nombre }}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group col-sm">
          <label for="email">Categoría</label>
          <select name="select" formControlName="idCategoria">
            <option label="Seleccione la Categoria" selected value="">Seleccione la categoría</option>
            <option *ngFor="let category of listCategorias" [value]="category.id">
              {{ category.nombre }}
            </option>
          </select>
        </div> -->
        <div class="form-group col-sm">
          <label for="email">Persona en Representación</label>
          <input class="form-control" formControlName="representante" />
        </div>
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown">
            <label for="selector-simple">Departamento</label>
            <select id="selector-simple" (change)="changePlace()" class="selectpicker form-control" title="departamento"
              formControlName="idDepartamento">
              <option value="" selected>Seleccione el Departamento</option>
              <option *ngFor="let dept of listDepartamentos" [value]="dept.id">
                {{ dept.nombre }}
              </option>
            </select>
          </div>
        </div>


        <!-- <div class="form-group col-sm">
          <label for="email">Departamento</label>
          <select name="select" (change)="changePlace()" formControlName="idDepartamento">
            <option label="Seleccione el Departamento"></option>
            <option *ngFor="let dept of listDepartamentos" [value]="dept.id">
              {{ dept.nombre }}
            </option>
          </select>
        </div> -->
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown ">
            <label class="ciudad" for="selector-simple">Ciudad</label>
            <select id="selector-simple" class="selectpicker form-control" title="ciudad" formControlName="idCiudad">
              <option value="" selected>Seleccione la Ciudad</option>
              <option *ngFor="let ciudad of listCiudades" [value]="ciudad.id">
                {{ ciudad.nombre }}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group col-sm">
          <label for="email">Ciudad</label>
          <select name="select" formControlName="idCiudad">
            <option label="Seleccione la Ciudad"></option>
            <option *ngFor="let ciudad of listCiudades" [value]="ciudad.id">
              {{ ciudad.nombre }}
            </option>
          </select>
        </div> -->
      </div>
      <div>
        <button class="btn btn-round btn-high" (click)="consultar()">Guardar</button>
        <!-- <button  (click)="consultar()">
          Guardar
        </button> -->
      </div>
    </form>
  </mat-card-content>
</mat-card>