thead{
    background-color: #E6EFFD;
}

.card-title{
    font-size: 30px;
}

.card-subtitle.text-muted{
    font-size: 18px;
}
.rounded-circle{
    border-radius: 5px !important;
}

#btn{
    background-color: #069169 !important;
    border-radius: 50px !important;
}