.naveg{
    background-color: #E6EFFD;
}

.btn-primary{
    border-radius: 20px;
    margin-bottom: 1em;
}


.card-title{
    font-size: 30px;
}

.card .card-subtitle{
    font-size: 18px;
}
.rounded-circle{
    border-radius: 5px !important;
}

#btn2{
    margin: 3px !important;
}