<div   class="container">
    <h1>Graficos dinamicos <small>TEMPERATURA</small></h1>
      <hr>
      <app-btemp>
      
          
      </app-btemp>
  </div>
  
  <div   class="container">
    <h1>Graficos dinamicos <small>HUMEDAD</small></h1>
      <hr>
      <app-bhum>
      
          
      </app-bhum>
  </div>
  
  <div   class="container">
    <h1>Graficos dinamicos <small>CALIDAD DE AIRE</small></h1>
      <hr>
      <app-baire>
      
          
      </app-baire>
  </div>
  
  <div   class="container">
    <h1>Graficos dinamicos <small>Benceno</small></h1>
      <hr>
      <app-bben>
      
          
      </app-bben>
  </div>