<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Solicitudes Empresas</h4>
        <h5 class="card-subtitle text-muted">Solicitudes registrados en el sistema de Agendamiento SIC</h5>
        <!-- <button class="btn btn-primary" (click)="crear()"> Crear Jornada</button> -->
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
            <thead>
              <tr class="nave">
                <th class="text-dark font-medium fs-4">Nombre Empresa/Nit</th>
                <th class="text-dark font-medium fs-4">Datos de contacto</th>
                <th class="text-dark font-medium fs-4">Jornada/Modalidad</th>
                <th class="text-dark font-medium fs-4">Temas/Subtema</th>
                <th class="text-dark font-medium fs-4">Fecha de solicitud<br/>Fecha solicitada</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let ts of listSolicitudes'>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="assets/images//users/solicitud2.png" alt="user" width="34" class="rounded-circle">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">{{ts.nombre_empresa}}</h5>
                      <span class="text-muted">{{ts.identificacion}}</span>
                    </div>
                  </div>
                </td>
                <td class="mb-0 font-medium">{{ts.representante}}<br/>{{ts.email}}</td>
                <td>
                  <span class="text-muted">{{ts.nombre}}</span><br/>
                  <span class="text-muted">{{ts.tipo}}</span>
                </td>
                <td>
                  <h5 class="mb-0 fw-normal">{{ts.tema}}</h5>
                  <span class="text-muted">{{ts.subtema}}</span>
                </td>
                <td>
                  <h5 class="mb-0 fw-normal">{{ts.created_at}}<br/>Fecha Solicitada:{{ts.fecha}}</h5>
                  <!-- <button class="btn btn-outline-success" aria-label="ver" (click)="ver(ts)">
                    <i class="bi bi-eye"></i>
                  </button>
                  <button class="btn btn-outline-primary" aria-label="Editar" (click)="editar(ts)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn btn-outline-danger" aria-label="Eliminar" (click)="eliminar(ts)">
                    <i class="bi bi-trash"></i>
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
