.mat-card-header {
    background-color: #E6EFFD !important;
    // padding:20px !important;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    // font-family: "ralewaybold" !important;
}

.mat-card {
    padding: 0 !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mat-card-content {
    padding: 5px !important;
}

.mat-card-title {
    font-size: xx-large;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    // margin-top: 10%;
}

.text-terms {
    // margin-top: 10%;
    // width: 100px;
    word-wrap: break-word;
    // background-color: aqua;
}

.video {
    // width="600" height="400"
    width: 40vw;
    height: 50vh;
}

.adiv {
    // background:red;
    // height:auto;
    // width:100px;
    word-wrap: break-word;
}

.card-terms {
    background-color: #004884;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 2%;

    label {
        color: white;
    }

    strong {
        color: white;
    }
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
    margin: 2px;
    word-wrap: break-word;
}

.button-form {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #2d3b89;
    width: 20%;
    // display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 3%;
    box-shadow: 3px 3px 1px #b1b1b1, -3px -3px 1px #ffffff;
    font-family: 'ralewaybold' !important;
    cursor: pointer;
}

.box{
    margin: 1em;
    padding: 2px;
    display: flex;
    align-items: flex-start;
}

.chk-govco input:checked+label:after, .checkbox-govco input:checked+label:after{
    width: 9px;
    justify-content: center;
}

.p-2{
    margin: 1em 1em;
  }
    


