<div class="grid">
    <div class="calenda">
        <p-fullCalendar [events]="events" [options]="options" deepChangeDetection="true" ></p-fullCalendar>
        <p class="infecha">Seleccione Fecha Disponible*</p>
    </div>

        
    <form class="custom-form" [formGroup]="EmpresaForm">
        <div class="form-p">
            <label>
                <h4>Planeador de Jornadas / Docentes</h4>
            </label>
            <!-- <p>Las jornadas se realizarán de lunes a jueves en dos horarios: 9:00am a 11:00am y 3:00pm a 5:00pm. De
                igual
                forma,
                el grupo de formación de la
                Superintendencia de lndustria y Comercio (SIC) se comunicará dándole a conocer 2 fechas disponibles
                de
                acuerdo a la jornada de interés.</p> -->

            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Tema de la Jornada Académica *</label>
                <select type="text" class="form-control selectpicker" id="selector-normal" title="tema"
                    formControlName="temaJornada" (change)="getTematica()">
                    <option *ngFor=" let tema of listTema" [value]="tema.id">{{tema.nombre}}</option>
                </select>
            </div>

            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Temáticas Disponibles *</label>
                <select type="text" class="form-control selectpicker" id="select-normal" title="tematicas"
                    formControlName="tematicas">
                    <option *ngFor="let tematicas of listTematicas" [value]="tematicas.id">{{tematicas.nombre}}</option>
                </select>

            </div>
            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Seleccione el Público Objetivo *</label>
                <select id="selector-normal" class="form-control selectpicker" title="publico"
                    formControlName="idPublico">
                    <input type="text" class="form-control input-govco" placeholder="">
                    <option *ngFor="let publico of listPublico" [value]="publico.id">{{publico.nombre}}</option>
                </select>
            </div> 
            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Especifique el Perfil de los Participantes *</label>
                <input type="text" class="form-control input-govco" placeholder="Escriba su Respuesta"
                    formControlName="perfil">
            </div>
            <div class="form-group gov-co-form-group gov-co-valido">
                <label>Número de participantes para los que solicita la jornada *</label>
                <select id="selector-normal" class="form-control selectpicker" title="publico"
                    formControlName="numeroParticipantes">
                    <option *ngFor="let nparticipantes of listnuparticipantes" [value]="nparticipantes.id">
                        {{nparticipantes.nombre}}</option>
                </select>
            </div>

            <button (click)="agendar()" class="btn btn-round btn-high">Agendar</button>


        </div>
    </form>
</div>