<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Sistema de Agendamiento Digital</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-row" [formGroup]="consultaForm">
            <div class="div-row">
                <div class="form-group">
                    <input type="number" class="form-control input-govco" placeholder="Nit Empresa" required formControlName="nit">
                </div>
                <!-- <mat-form-field  appearance="outline">
                  <mat-label>Nit Empresa</mat-label>
                  <input matInput placeholder="Digite el NIT de la empresa" type="text" required formControlName="nit">
                </mat-form-field><br/>
                <button type="button" class="btn btn-primary" (click)="consultar()">
                    Consultar
                </button> -->
            </div>
            <div class="p-2">
                <a  class="btn-round btn-high" (click)="consultar()">Consultar</a>
            </div>

        </form>
    </mat-card-content>
</mat-card>