<div   class="container">
  <h1>Graficos dinamicos <small>TEMPERATURA</small></h1>
    <hr>
    <app-linea>
    
        
    </app-linea>
</div>

<div   class="container">
  <h1>Graficos dinamicos <small>HUMEDAD</small></h1>
    <hr>
    <app-linea-humedad>
    
        
    </app-linea-humedad>
</div>

<div   class="container">
  <h1>Graficos dinamicos <small>CALIDAD DE AIRE</small></h1>
    <hr>
    <app-linea-calidad-aire>
    
        
    </app-linea-calidad-aire>
</div>

<div   class="container">
  <h1>Graficos dinamicos <small>Benceno</small></h1>
    <hr>
    <app-linea-benzeno>
    
        
    </app-linea-benzeno>
</div>