

.mat-card-content {
  padding: 5px !important;
}

.mat-card-title {
  font-size: xx-large;
}


.custom-form input {
  display: block;
  width: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.custom-form select {
  display: block;
  width: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}
.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #2d3b89;
  width: 50%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  margin-left: 28%;
  // box-shadow: 3px 3px 1px #b1b1b1, -3px -3px 1px #ffffff;
  cursor: pointer;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 2%;
}

.divisor{
  height: 5px;
  background-color: #002858;
  margin-top: 10px;
  margin-bottom: 10px;
}

button{
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 1.5em;
}

.form-control{
  width: 90%;
  display: block;
  justify-content: space-between;
}

.mat-card-header .mat-card-title{
  margin-bottom: 1em;
  font-size: 30px;
  margin: 0 0 0 1;
  padding-left: 1px;
}
