<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Formulario de Jornadas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form-group"[formGroup]="JornadaForm">
      <div class="grid">
        <div class="form-group gov-co-form-group gov-co-valido">
          <label for="">Nombre de la Jornada</label>
          <input type="text" class="form-control gov-co-form-control" formControlName="nombre" required/>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Nombre de la Jornada</label>
          <input class="form-control" formControlName="nombre" required/>
        </div> -->
        <div class="form-group gov-co-form-group gov-co-valido">
          <label for="">Codigo</label>
          <input type="text" class="form-control gov-co-form-control" formControlName="codigo" required/>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Codigo</label>
          <input class="form-control" formControlName="codigo" required/>
        </div> -->
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown">
            <label for="selector-simple">Tipo de Jornada</label>
            <select id="selector-simple" class="selectpicker form-control" title="selected" formControlName="tipo" required>
              <option selected>PRESENCIAL</option>
              <option>VIRTUAL</option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Tipo de Jornada</label>
          <select name="select" formControlName="tipo" required>
            <option selected>PRESENCIAL</option>
            <option>VIRTUAL</option>
          </select>
        </div> -->
      </div>

      <div class="grid">
        <div class="form-group gov-co-form-group gov-co-valido">
          <label for="">Tema</label>
          <input type="text" class="form-control gov-co-form-control" formControlName="tema" required/>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Tema</label>
          <input class="form-control" formControlName="tema" required/>
        </div> -->
        <div class="form-group gov-co-form-group gov-co-valido">
          <label for="">Subtema</label>
          <input type="text" class="form-control gov-co-form-control" formControlName="subtema" required/>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Subtema</label>
          <input class="form-control" formControlName="subtema" required/>
        </div> -->
        <div class="form-group gov-co-form-group gov-co-valido">
          <label for="">Lugar</label>
          <input type="text" class="form-control gov-co-form-control" formControlName="lugar" required/>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Lugar</label>
          <input class="form-control" formControlName="lugar" required/>
        </div> -->
      </div>

      <div class="grid">
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown">
            <label for="">Docente principal</label>
            <select id="" class="selectpicker form-control" title="Docente" formControlName="id_docente_principal" >
              <option *ngFor="let docente of listDocentes" [value]="docente.id" required >
                {{ docente.nombre + " - " + docente.identificacion}}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group col-sm">
          <label>Docente principal</label>
          <select name="select"  formControlName="id_docente_principal">
            <option value="" selected>Seleccione el docente</option>
            <option *ngFor="let docente of listDocentes" [value]="docente.id" required>
              {{ docente.nombre + " - " + docente.identificacion}}
            </option>
          </select>
        </div> -->
        <div class="form-group gov-co-form-group">
          <div class="gov-co-dropdown">
            <label for="">Docente suplente</label>
            <select id="" class="selectpicker form-control" title="Docente" formControlName="id_docente_suplente" >
              <option *ngFor="let docente of listDocentes" [value]="docente.id" required>
                {{ docente.nombre + " - " + docente.identificacion}}
              </option>
            </select>
          </div>
        </div>

        <!-- <div class="form-group col-sm">
          <label>Docente suplente</label>
          <select name="select"  formControlName="id_docente_suplente">
            <option value="" selected>Seleccione el docente</option>
            <option *ngFor="let docente of listDocentes" [value]="docente.id" required>
              {{ docente.nombre + " - " + docente.identificacion}}
            </option>
          </select>
        </div> -->
        <div class="form-group gov-co-form-group">
          <label for="">fecha</label>
          <input class="form-control" formControlName="fecha"  required type="date" />
       </div>

        <!-- <div class="form-group col-sm">
          <label>fecha</label>
          <input class="form-control" formControlName="fecha" type="date" required/>
        </div> -->
      </div>

      <div class="grid">
        <div class="form-group gov-co-form-group">
          <label>Hora inicial</label>
          <input class="form-control" formControlName="hora_inicio" type="time" required/>
        </div>
        <div class="form-group gov-co-form-group">
          <label>Hora final</label>
          <input class="form-control" formControlName="hora_fin" type="time" required/>
        </div>
        <div class="form-group gov-co-form-group">
          <label>Estado</label>
          <select class="selectpicker form-control" formControlName="enabled" required>
            <option value="1" selected>ACTIVA</option>
            <option value="0">INACTIVA</option>
          </select>
        </div>
      </div>

      <div>
        <button class="btn btn-round btn-high" (click)="guardar()">
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
