<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">OBJETIVO</h4>
        <h5 class="card-subtitle text-muted">Proyecto Reto #2</h5>
        <div class="table-responsive">
          Implementar un sistema electrónico con base en internet de las
          cosas (IoT) e inteligencia artificial, que agrupa sensores(Humedad, Gas, Perturbación, Polución, Movimiento,
          Vibración) para identificar material arrojado en zonas verdes, además de almacenar la información en la nube,
          con sistemas de alertas para cuidadores de las zonas verdes de la ciudad de Medellín, de acuerdo con la
          propuesta de solución presentada al reto “¿Cómo evitar que las Zonas Verdes se conviertan en lugares de
          disposición de residuos sólidos, a través de la tecnología?
          ”
          <div align="center">

            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">SOLUCION</h4>
                  <h5 class="card-subtitle text-muted">Proyecto Reto #2</h5>
                  <div class="table-responsive">
                      Grafico con la solucion e implementacion de tecnologias.
                    <a class="navbar-brand" >
                      <!-- Logo icon -->
                      <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Light Logo icon -->
                        <img src="assets/images/GRAFICOS.jpg" class="light-logo" />
                      </b>
                    </a>
                    <div>
                    </div>
                  </div>
                </div>