.mat-form-field-label-wrapper {
  .mat-form-field-label {
    font-size: 1.5rem;
    //transform: translateY(-2.6rem);
    transform: translateY(-1.34375em) scale(1);
    color: $color-text;
  }
}

.mat-form-field-underline {
  background-color: $color-text;
  .mat-form-field-ripple {
    background-color: $color-text;
  }
}

&.dark-mode {
  .mat-form-field-label {
    color: $color-grey;
  }
  .mat-form-field-underline {
    background-color: $color-green-main-hover;
    .mat-form-field-ripple {
      background-color: $color-green-main;
    }
  }
}

&.readonly {
  .mat-form-field-label {
    color: #9a9a9a;
  }
  .mat-form-field-underline {
    background-color: #9a9a9a;
    .mat-form-field-ripple {
      background-color: #9a9a9a;
    }
  }
}
