.mat-card-header {
  background-color: #E6EFFD !important;
  // padding:20px !important;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  // font-family: "ralewaybold" !important;
}

.mat-card {
  padding: 0 !important;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.mat-card-content {
  padding: 5px !important;
}

.mat-card-title {
  font-size: xx-large;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  // margin-top: 10%;
}

.text-terms {
  // margin-top: 10%;
  // width: 100px;
  word-wrap: break-word;
  // background-color: aqua;
}

.video {
  // width="600" height="400"
  width: 40vw;
  height: 50vh;
  margin-top: 1%;
  margin-bottom: 2%;
}

.card-terms {
  background-color: #004884;
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 2%;
  
  
  h3{
    color: white;
  }
}

.div-btn {
  text-align: center;
  margin-bottom: 10px;
}

.grid .p-2{
  margin: 1em 1em 1em 5em;
  padding: 1em !important;
  
}

.grid .p-3{
  margin: 1em 3em 1em 1em;
  padding: 1em;
}

button{
  margin-left: 3em;
  border: none;
}



