<div class="sic-dialog__header">
  <!-- <button class="sic-dialog__close" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button> -->
</div>
<mat-dialog-content>
  <div class="{{ class }}" [ngClass]="{ sic_notification_dialog: true }">
    <div class="modal-body">
      <div class="gov-co-modal-type">
        <span class="govco-icon {{icon}}"></span>
        <h2 class="titulo">{{title}}</h2>
      </div>
      <div class="gov-co-modal-message">
        <p><strong>{{message}}</strong></p>
       <p>{{content}}</p>
      </div>
    </div>
  </div>
  <!-- <div class="{{ class }}" [ngClass]="{ sic_notification_dialog: true }">
    <mat-icon>{{ icon }}</mat-icon>

    <div>
      <h2 mat-dialog-title>{{ message }}</h2>
      <span>{{content}}</span>
    </div>
  </div> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" class="btn btn-primary btn-dialog" [mat-dialog-close]="true">
    Aceptar
  </button>
  <button type="button" class="btn btn-primary" [mat-dialog-close]="false">
    Cancelar
  </button>
</mat-dialog-actions>